@font-face {
	font-family: 'Gill Sans MT';
	src: url('../fonts/GillSansMT-Heavy.eot'); /* IE9 Compat Modes */
	src: url('../fonts/GillSansMT-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/GillSansMT-Heavy.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/GillSansMT-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
		url('../fonts/GillSansMT-Heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/GillSansMT-Heavy.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight:700;
}

@font-face {
	font-family: 'Gill Sans MT';
	src: url('../fonts/GillSansMT-Medium.eot'); /* IE9 Compat Modes */
	src: url('../fonts/GillSansMT-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/GillSansMT-Medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/GillSansMT-Medium.woff') format('woff'), /* Pretty Modern Browsers */
		url('../fonts/GillSansMT-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/GillSansMT-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 400;
}

body{
	font-size: 20px;
	font-weight: 400;
	font-family:"Gill Sans MT" ;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	color: #26272d;

}
p{
	color: #8c8f94;
}

ul, li{
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	color: #26272d;

}

a:hover {
	text-decoration: none;
	color: #26272d;
	
}

img{
	display: block;
	max-width: 100%;
	object-fit: cover;
}

.btn{
	border-radius: 21px;
	background-color: #267df4;
	color: #fff;
	font-size: 16px;
	border: none;
	transition: all 0.5s ease;
}

.btn:hover{
	background-color: #0e58be;
}


/*Первфй экран*/

.header{
	background: url('../img/head.jpg')no-repeat center /cover;
	padding-top: 44px;
	text-align: center;
	

}

.burger{
	background: url(../img/Menu_Icon.png)no-repeat;
	width: 20px;
	height: 12px;
	border: none;
	
}


.menu__list{
	font-size: 16px;
	color: #26272d;
}
.menu__list:not(:last-child){
	margin-right: 45px;
}
.logo{
	background: url(../img/logo.svg)no-repeat;
	width: 133px;
	height: 15px;
	
}

.connection__list{
	margin-right: 34px;
	font-size: 16px;
	color: #26272d;
}
.connection__list:hover{
	color: #1b1c1e;
	opacity: 0.4;
	transition: all 0.5s ease;
}



.btn-menu{
	width: 132px;
	height: 42px;
		
}
.btn-menu__text{
	
	margin-left: 15px;
	font-size: 16px;
}

.offer{	
	max-width: 780px;
	width: 100%;
	margin-top: 100px;
}


.offer__title{
	color: #26272d;
	font-size: 58px;
	font-weight: 700;
	line-height: 72px;
}

.offer__text{
	font-size: 20px;
	margin-top: 30px;
	text-align: center;
	margin-bottom: 60px;

}

.offer__btn{
	font-family: 'Lato';
	font-weight: 700;
	font-size: 16px;
	color: #26272d;
	border-radius: 25px;
	border: 1px solid #26272d;
	width: 205px;
	transition: all 0.5s ease;
	padding: 12px 0;

	
}
.offer__btn:hover{
	border:1px solid rgba(0, 0, 0, 0);
	background-color:#267df4 ;
	transition: all 0.5s ease;
}

.offer__btn::before{
	content: '';
	display: block;
	background:  url('../img/Play_Icon.png') no-repeat center;
	width: 10px;
	height: 10px;
	margin-right: 15px;
}

.offer__img{
	background: url('../img/iPhone_6.svg')no-repeat  center /contain;
	max-width: 475px;
	width: 100%;
	height: 450px;
	margin:55px auto 0;
}





/*Гарантия*/

.trusted{
	padding-top: 120px;
}
.about{
	width: 505px;
}

.about__title{
	margin-top: 45px;
	font-size: 26px;
	margin-bottom: 40px;

}

.about__text{
	font-size: 18px;
}

.about__text:not(:last-of-type){
	margin-bottom: 30px;
}

.about__img{
	max-width: 42px;
	height: 48px;
	width: 100%;
	margin-right: 20px;
	object-fit: contain;
}



/*Защита*/

.protected{
	padding-top: 110px;
}
.protected__img{
	background: url('../img/iPhone_6.png')no-repeat center center / contain;
	display: block;
	height: 680px;
	margin-left: -110px;

}


.protected-title{
	margin-top: 20px;
	font-size: 42px;
	width: 240px;
	margin-bottom: 70px;
	line-height: normal;
}

.protected-text{
	font-size: 20px;
}
.protected-text:not(:last-of-type){
	margin-bottom: 35px;
}

.key{
	margin-top: 75px;
}
.protected-btn{
	background-color: #267df4;
	color: #fff;
	border-radius: 21px;
	width: 202px;
	padding: 8px 0;
	font-size: 16px;
	justify-content: center;
	transition: all 0.5s ease;
}

.protected-btn::after{
	content: '';
	background: url('../img/Arrow_Icon.png')no-repeat center;
	display: block;
	width: 13px;
	height: 12px;
	margin-left: 50px;
}

.protected-btn:hover{
	background-color:#0e58be ;
	transition: all 0.5s ease;
	color: #fff;
}


.border-btn{
	width: 142px;
	padding: 8px 0;
	border-radius: 21px;
	border: 1px solid #26272d;
	font-size: 16px;
	color: #26272d;
	justify-content: center;
	margin-left: 20px;
	transition: all 0.5s ease;
}

.border-btn:hover{
	border:1px solid rgba(0, 0, 0, 0);
	background-color:#267df4 ;
	transition: all 0.5s ease;
	color: #fff;
}




/*Карта*/

.map{
	padding: 120px 0 240px;

}
.map-title{
	font-size: 42px;
	width: 315px;
	line-height: normal;
	margin-bottom: 65px;
}

.map-text:not(:last-of-type){
	margin-bottom: 33px;

}

.partners{
	margin: 65px 0 30px;
	line-height: 22px;
	text-transform: uppercase;
	font-size: 12px;

}

.partners-logo__item{
	margin-right: 30px;
}

.map-img{
	background: url('../img/World_Map.png')no-repeat center center / contain;
	display: block;
	height: 401px;
    
 
}




/*Футер*/


.footer{
	padding-bottom: 210px;
}
.footer-text{
	font-size: 14px;
	margin: 30px 0;
}

.footer-title{
	font-size: 12px;
	text-transform: uppercase;
	color: #26272d;
	margin-bottom: 25px;
}

.footer-download{
	background: url('../img/Download.png')no-repeat center /contain;
	width: 140px;
	height: 42px;
}
.footer-link{
	color: #8c8f94;
	font-size: 16px;
}

.footer-list__item:not(:last-of-type){
	margin-bottom: 22px;
}




/*  Responsive  */



@media (max-width: 1200px) {
	.protected-img{
		margin-left: 0;
		width: 100%;
	}

	.about{
		width: 100%;
	}
	
	.map-img{
		width: 100%;
		margin-right: 0;
	}
	
}



@media (max-width: 992px) {
	
	.about{
		margin-bottom: 30px;
	}
	.about__flex{
		display: flex;
	}
	.map-img{
		margin-top: 50px;
	}
	.map{
		padding-top: 100px;
	}
	
	.btn-menu{
		margin-left: auto;
	}
	
}



@media (max-width: 768px) {

	.about__text:not(:last-of-type){
		margin-bottom: 15px;
}
	.protected__img{
		margin-left: auto;
		width: 100%;
	}

	.about__flex{
		display: flex;
	}
	.protected{
		padding-top: 50px;
	}
	.protected-text:not(:last-of-type){
	margin-bottom: 15px;
	}

	.map-text:not(:last-of-type){
	margin-bottom: 15px;
	}
	.map-title{
		margin-bottom: 40px;
	}
	.map-img{
		margin: 75px auto;
	}
	.map{
		padding-bottom: 100px;
	}
	.footer-title{
		margin-top: 100px;
	}
	.footer{
		text-align: center;
	}
	.footer-download{
		display: block;
		margin: auto;
	}
	.footer-logo{
		margin: auto;
	}
	
	.btn-menu{
		margin-left: auto;
	}




}



@media (max-width: 576px) {
	.protected-title{
		margin-top: 30px;
		margin-bottom: 50px;
		font-size: 26px;
		width: 100%
	}
	.protected-text{
		font-size: 18px;
	}

	.map-title{
		font-size: 26px;
		width: 100%
	}
	.map-text{
		font-size: 18px;
	}
	.protected__img{
		height: 450px
	}
	
	.footer-title{
		margin-top: 30px;
	}
}



@media (max-width: 400px) {

	.offer__img{
		height: 350px;
	}
	.offer__title{
		font-size: 48px;
		
	}
	.protected__img{
		height: 350px
	}
	.about__title{
		font-size: 21px;
	}

}